.form__input_type_error {
  /* border: 1px solid red; */
  border-bottom-color: red;

  /* Нижняя рамка становится красной всякий раз, 
  когда введённые данные некорректны */
}

.form__input-error {
  color: red;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  margin: 4px 0 5px 0;
  padding: 0;
}


.button_inactive {
  color: #B8B8B8;
  background: #EDEDED;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}