.card__like {
  /* margin: 0;
  padding: 0; */
  width: 22px;
  height: 18px;
  background-image: url(../../../images/corazon.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: contain;
  border: 0px solid transparent;
  flex-shrink: 0;
}
