<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href='<%=require("./images/favicon.jpg")%>'>
    <!-- <link rel="stylesheet" href="./pages/index.css" /> -->
    <!-- <script src="./scripts/validate.js" type="module"></script> -->
    <!-- <script src="./index.js" type="module"></script> -->
    <!-- defer -->
    <title>Russia Mesto</title>
  </head>
  <body class="body-root">
    <header class="header">
      <img
        src='<%= require("./images/logo-blanco.svg")%>'
        alt="Логотип Место Россия."
        class="header__logo"
      />
    </header>
    <main class="main">
      <section class="profile" aria-label="Информация о пользователе.">
        <div class="avatar">
          <img src='<%= require("./images/jacob.jpg")%>' alt="Фото пользователя."
          class="avatar__img" />
        </div>
        
        <div class="profile__user">
          <div class="profile__title">
            <h1 class="profile__name">Евгений Кустофф</h1>
            <button type="button" class="profile__button-edit button"></button>
          </div>
          <p class="profile__description">Исследователь океана</p>
        </div>
        <button type="button" class="profile__button-add button"></button>
      </section>

      <section class="elements" aria-label="Фото мест.">
        <ul class="cards">
          <template id="card">
            <li class="card">
              <img src="#" alt="" class="card__image" />
              <button type="button" class="card__basura button"></button>
              <div class="card__subtitle">
                <h2 class="card__place"></h2>
                <div class="card__like-wrap">
                  <button type="button" class="card__like button"></button>
                  <span class="card__like-qty"></span>
                </div>
              </div>
            </li>
          </template>
        </ul>
      </section>
    </main>

    <div class="popup popup_profile">
      <form class="popup__container" autocomplete = "off" name = "form-profile">
        <button type="button" class="popup__close button"></button>
        <h2 class="popup__title">Редактировать профиль</h2>
        <input id="input-name" class="popup__input popup__input_field_name" minlength="2" maxlength="40" required placeholder = " Введите имя" name = "name"/>
        <span class="input-name-error input-error"></span>

        <input id="input-description" class="popup__input popup__input_field_description" minlength="2" maxlength="200" required placeholder = " Вид деятельности" name="description" />
        <span class="input-description-error input-error"></span>

        <button class="popup__button-save button">Сохранить</button>
      </form>
    </div>

    <div class="popup popup_image_add">
      <form class="popup__container" autocomplete = "off" name = "form-image">
        <button type="button" class="popup__close button"></button>
        <h2 class="popup__title">Новое место</h2>
        <input id="input-place" class="popup__input popup__input_field_place"  minlength="2" maxlength="30" required placeholder = " Название" name="place" />
        <span class="input-place-error input-error"></span>
        <input id="input-link" class="popup__input popup__input_field_link" type = 'url' required placeholder = " Ссылка на картинку" name="link" />
        <span class="input-link-error input-error"></span>
        <button class="popup__button-save button">Сохранить</button>
      </form>
    </div>

    <div class="popup popup_avatar">
      <form class="popup__container" autocomplete = "off" name = "form-avatar">
        <button type="button" class="popup__close button"></button>
        <h2 class="popup__title">Обновить аватар</h2>
        <input id="input-avatar" class="popup__input popup__input_avatar" minlength="2" required placeholder = " Введите ссылку на изображение" type = 'url' name = "avatar"/>
        <span class="input-avatar-error input-error"></span>
        <button class="popup__button-save button">Сохранить</button>
      </form>
    </div>

    <div class="popup popup_delete">
      <form class="popup__container" autocomplete = "off" name = "form-delete">
        <button type="button" class="popup__close button"></button>
        <h2 class="popup__title">Вы уверены?</h2>
        <button class="popup__button-save button">Да</button>
      </form>
    </div>

    <div class="popup popup_picture">
      <figure class="popup__figure">
        <button type="button" class="popup__close button"></button>
        <img src="#" alt="" class="popup__full" />
        <figcaption class="popup__caption"></figcaption>
      </figure>
    </div>


    <footer class="footer">
      <p class="footer__copyright">© 2023 Mesto Russia & El Mundo</p>
    </footer>

  </body>
</html>
